/* style.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
   /* Align items at the top */
  min-height: 100vh;
  background: linear-gradient(to bottom right, #6234ac, #693be6);
}

h1 {
  text-align: center;
  margin-top: 100px; /* Adjusted margin */
  color: white;
  height: fit-content;
  margin-bottom: 10px;
  font-size: 80px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 20px;
  bottom: 20px;
  margin-top: 190px; /* Added margin to separate h1 from form */
  margin-right: 0px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; /* Adjusted margin */
}

input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 20px;
  font-size: 16px;
}

button[type="submit"] {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #f39c12;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #e67e22;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0; /* Reset margin */
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 10px;
}

input[type="checkbox"] {
  margin-right: 10px;
  height: 20px;
  width: 20px;
}

span {
  flex-grow: 1;
  font-size: 18px;
  font-weight: bold;
}

form[action^="/delete"] button[type="submit"] {
  background-color: #e74c3c;
  margin-left: 40px;
  margin-top: 8px;
}

form[action^="/delete"] button[type="submit"]:hover {
  background-color: #c0392b;
  margin-left: 40px;
  margin-top: 8px;
}
